body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html,
body,
#root,
.app {
  height: 100%;
  width: 100%;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

input[type="radio"] {
  display: none;
}

.app {
  background-color: #444;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tab-header {
  border: 1px #808080 solid;
  display: inline-flex;
  font-weight: 500;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
}

.tab-header li,
.tab-header label {
  display: block;
  padding: 10px;
  background-color: #ccc;
  user-select: none;
}

.tab-header .tab-title:not(:last-child) {
  border-right: 1px #808080 solid;
}

.tab-header li.active,
input[type="radio"]:checked + label {
  background-color: #fff;
}

[class^="task-"] {
  width: 300px;
  padding: 25px;
}

.tab-title,
.tab-title label {
  cursor: pointer;
  user-select: none;
}

.tab-content {
  background-color: #fff;
  padding: 20px;
}
